* {
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	color: #222;
	font-family: 'Roboto Mono', monospace;
}


.app {
	width: 1280px;
	margin: 50px auto;
}

.header {
	font-weight: 500;
	font-size: 22px;
}

.header__images {
	margin: 50px 0;
	background: url('./img/main_img.jpg');
	width: 100;
}