@media (max-width: 460px) {

    .app {
        width: 424px;
    }

    .header {
      width: 317px;
      margin: 0 auto;
      padding: 0;
    }

    .header__images{
        width: 317px;
    }

    .header__images::after {
        font-size: 28px;
        text-align: center;
        left: 17px;
    }

    .header__images::before {
        left: 96px;
    }

    .header__shop-open {
        width: 280px;
    }

    .categories {
        margin-left: 35px;
        margin-bottom: 30px;
    }

    .categories div {
        padding: 6px 15px;
        margin-right: 9px;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 82%;

    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__reserved {
        margin-top: 15px;
    }

    .modal__wrapper {
        width: 290px;
        margin: 15% auto;
    }

    .modal__img {
        width: 290px;
    }
}

@media (max-width: 390px) {
    .app {
        width: 300px;
    }

    .categories {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .categories div {
        margin-bottom: 10px;
    }

    .card__desc
}