@media (max-width: 460px) {

    .app {
        width: 424px;
    }
    .header {
      width: 317px;
      margin: 0 auto;
      padding: 0;
    }

    .header__images{
        width: 317px;
    }

    .header__images::after {
        font-size: 28px;
        text-align: center;
        left: 17px;
    }

    .header__images::before {
        left: 96px;
    }

    .categories div 
} 