.card {
    width: 30%;
    margin-bottom: 50px;
    background: #f5f5f5;
    cur
}

.card img {
    width: 100%;
    border-radius: 6px 6px 0 0;
    transition: 0.6s;
}

.card img:hover {
    transform: scale(1.05);
}