.header__modal {
    width: 100%;
}

.header__modal img {
    width: 70px;
    float: left;
    margin-right: 30px;
}

.header__modal h3 {
    font-size: 17px;
    margin-bottom: 34px;
}

.header__modal p {
    color: #797979;
    font-weight: 500;
}